*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(11, 12, 12);
    color: rgb(239, 239, 247);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

/* ====NAVBAR CSS==== */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(11, 12, 12);
    width: 100%;
    margin: 0 auto;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}

nav ul li a:hover{
    color: rgb(250, 250, 250);
    font-size: 1.02rem;
    text-decoration: none; 
    border-bottom:2.5px solid red;
}

.left{
    font-size: 1.6rem;
    font-weight: bold;
}

.left a{
    text-decoration: none !important;
    color: rgb(250, 250, 250);
}

.toggle_btn{
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu li{
    list-style: none;
    margin: 0 20px;
}

.dropdown_menu li a{
    text-decoration: none;
    color: rgb(239, 239, 247)
}

.dropdown_menu li a:hover{
    color: rgb(239, 239, 247);
    font-size: 1.02rem;
    text-decoration: none; 
    border-bottom:2.5px solid red;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    overflow: hidden;
    height: 0;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li{
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu.open{
    height: 180px;
}

@media(max-width: 1092px){
    .right .links{
        display: none;
    }

    .toggle_btn{
        display: block;
        margin-right: 20px;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}


/* ====FIRST SECTION CSS==== */
#image_1{
    backdrop-filter: blur(12px);
    border: 5px solid white;
    border-radius: 105px;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.firstSection > div{
    width: 30%;
}

.leftSection{
    font-size: 2.5rem;
    font-weight: bold;
}

#github_visit{
    text-decoration: none;
    color: white;
}

#github_visit:hover{
    font-size: 1.1rem;
}

.leftSection .buttons{
    padding: 50px 0;
}
.leftSection .btn{
    padding:12px;
    background: rgb(170, 107, 228);
    color: white;
    border: 4px solid white;
    border-radius: 6px;
    font-size: 1.04rem;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.rightSection img{
    width: 80%;
    margin: 50px 0;
}
.purple{
    color: rgb(170, 107, 228);
}
.text-gray{
    color: gray;
}
#element{
    color: rgb(170, 107, 228);
}

@media(max-width: 1500px){
    .firstSection{
        flex-direction: column-reverse;
      }
    .leftSection{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rightSection{
        width: 400px !important;
        height: 400px !important;
        justify-content: center !important;
        margin: 15px 70px;
        margin-left: 150px;
    }
}

/* ====SECOND SECTION CSS==== */
.secondSection{
    height: 130vh;
}
.secondSectiontopSection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 50%;
}

#education{
    transition: transform .3s;
    height: 270px;
    width: 270px;
    border-radius: 15px;
}

#education:hover{
    transform:scale(1.1);
}

#projects{
    transition: transform .3s;
    height: 270px;
    width: 270px;
    border-radius: 25px;
}

#projects:hover{
    transform:scale(1.1);
}

.secondSectionbottomSection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.secondSectiontitle{
    text-align: center;
    color: rgb(250, 250, 250);
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    margin: 25px 20px;
}

#experience{
    transition: transform .3s;
    height: 270px;
    width: 270px;
    border-radius: 25px;
}

#experience:hover{
    transform:scale(1.1);
}

#interest{
    transition: transform .3s;
    height: 270px;
    width: 270px;
    border-radius: 25px;
}

#interest:hover{
    transform:scale(1.1);
}

.secondSectiontopSectionVal{
    display: flex;
}

#first{
    margin-left: 410px;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 35px;
}

#second{
    margin-left: 480px;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 35px;
}

.secondSectionbottomSectionVal{
    display: flex;
}

#third{
    margin-left: 395px;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 35px;
}

#fourth{
    margin-left: 480px;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 35px;
}


/* ====SKILLS CSS==== */
.resume-section {
    text-align: center;
    font-size: 2.0rem;
    color: #7e7e7e;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}
.list-inline {
    list-style: none;
}
  
.list-icons {
    font-size: 3.2rem;
}
  
#skill-bars {
    width: 50%;
    margin: 0 auto;
}
  
.progress{
    background-image: linear-gradient(
      to left,
      #fdfeff,
      #29b5f6,
      #104566,
      #0b3a5f,
      #010101
    );
}

.list-inline-item i:hover {
    color: #5fb4e8;
    transition: all 0.2s ease-in-out;
}

.blue{
    color: rgb(250, 250, 250);
    transition: all 0.2s ease-in-out;
    margin: 35px 20px;
}

.list-inline-item{
    display: inline-block;
    margin: 10px 27px;
}


/* ====THIRD SECTION CSS==== */
.aboutMetitle{
    text-align: center;
    font-size: 3.0rem;
    color: rgb(250, 250, 250);
    font-family: "Poppins", sans-serif;
}

#aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

#aboutMeimg{
    width: 350px;
    height: 350px;
    border: 5px solid rgb(239, 239, 247);
    border-radius: 105px;
    margin: 20px 40px;
    backdrop-filter: blur(12px);
}

.aboutMeleftSection{
    display: flex;
    justify-content: space-evenly;
}

.content{
    word-wrap: break-word;
    width: 30vw;
    font-family: "Poppins", sans-serif;
    font-size: 1.04rem;
}

.aboutMeReadMore{
    padding: 7px;
    background:rgb(170, 107, 228);
    color: white;
    border: 4px solid white;
    border-radius: 6px;
    font-size: 1.0rem;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 27px;
}


/* ====FOOTER CSS==== */
footer{
    background-color: rgb(11, 12, 12);
    height: 150px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}

.footer_name{
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 46px;
    margin-left: 35px;
}   

.footer_name a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.data{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
}

.data ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.data ul li{
    list-style: none;
    padding: 1.3px 0;
}

.data ul li a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.data ul li a:hover{
    color: rgb(250, 250, 250);
    font-size: 1.02rem;
    text-decoration: none; 
    border-bottom:2.5px solid red;
}

.handles{
    display: flex;
    justify-content: space-around;
}

.handles a{
    text-decoration: none;
}

#github{
    display: flex;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    margin: 45px 5px;
    color: rgb(250, 250, 250);
    font-size: 2.0rem;
}


#instagram{
    display: flex;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    margin: 45px 5px;
    color: rgb(250, 250, 250);
    font-size: 2.0rem;
}

#whatsapp{
    display: flex;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    margin: 45px 5px;
    color: rgb(250, 250, 250);
    font-size: 2.0rem;
}

#linkedin{
    display: flex;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    margin: 45px 5px;
    color: rgb(250, 250, 250);
    font-size: 2.0rem;
}

.footer-rights{
    display: flex;
    justify-content: space-around;
}