*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(11, 12, 12);
    color: rgb(239, 239, 247);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

/* ====NAVBAR CSS==== */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(11, 12, 12);
    width: 100%;
    margin: 0 auto;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}

nav ul li a:hover{
    color: rgb(250, 250, 250);
    font-size: 1.02rem;
    text-decoration: none; 
    border-bottom:2.5px solid red;
}

.left{
    font-size: 1.6rem;
    font-weight: bold;
}

.left a{
    text-decoration: none !important;
    color: rgb(250, 250, 250);
}

.toggle_btn{
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu li{
    list-style: none;
    margin: 0 20px;
}

.dropdown_menu li a{
    text-decoration: none;
    color: rgb(239, 239, 247)
}

.dropdown_menu li a:hover{
    color: rgb(239, 239, 247);
    font-size: 1.02rem;
    text-decoration: none; 
    border-bottom:2.5px solid red;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    overflow: hidden;
    height: 0;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li{
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu.open{
    height: 180px;
}

@media(max-width: 1092px){
    .right .links{
        display: none;
    }

    .toggle_btn{
        display: block;
        margin-right: 20px;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

/* ====FIRST SECTION CSS====*/
#element{
    color: rgb(170, 107, 228);
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.firstSection{
    font-size: 4rem;
    font-weight: bold;
    margin: 40px 0;
}

.firstSection > div{
    display: flex;
    justify-content: center;
    height: 15vh;
}

.typed_cursor{
    opacity: 1;
}

.typed_cursor.typed_cursor--blink{
    animation: typedjsBlink 0.8s infinite;
    -webkit-animation: typedjsBlink 0.8s infinite;
            animation: typedjsBlink 0.8s infinite;
}


/* ====SECOND SECTION CSS====*/
.projects_section{
    text-align: center;
    color: rgb(250, 250, 250);
    font-size: 3.4rem;
    font-family: "Poppins", sans-serif;
}

.secondSection a{
    text-decoration: none;
    color: rgb(239, 239, 247);
}

.h3{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

.portfolioWebsite{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 120px;
    margin-top: 30px;
}

.portfolioWebsite .h3{
    margin: 0 60px;
}

.todoApp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 120px 0;
}

.todoApp .h3{
    margin: 0 160px;
}

.portfolioApp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 120px 0;
}

.portfolioApp .h3{
    margin: 0 20px;
}

.ai{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 120px 0;
}

.ai .h3{
    margin: 0 100px;
}

.zomatoClone{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 120px 0;
}

.zomatoClone .side{
    margin: 0 85px;
}

.flappyBird{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 120px 0;
}

.flappyBird .h3{
    margin: 0 50px;
}

#website{
    width: 350px;
    height: 350px;
    border-radius: 60px;
    transition: transform .3s;
}

#website:hover{
    transform:scale(1.1);
}

#todoApp{
    width: 350px;
    height: 350px;
    border-radius: 60px;
    margin-left: 35px;
    transition: transform .3s;
}

#todoApp:hover{
    transform:scale(1.1);
}

#app{
    width: 350px;
    height: 350px;
    border-radius: 60px;
    margin-left: -90px;
    transition: transform .3s;
}

#app:hover{
    transform:scale(1.1);
}

#aiJarvis{
    width: 350px;
    height: 350px;
    border-radius: 60px;
    margin-left: 45px;
    transition: transform .3s;
}

#aiJarvis:hover{
    transform:scale(1.1);
}

#zomatoClone{
    width: 350px;
    height: 350px;
    border-radius: 60px;
    margin-left: 35px;
    transition: transform .3s;
}

#zomatoClone:hover{
    transform:scale(1.1);
}

#flappyBirdGame{
    width: 350px;
    height: 350px;
    border-radius: 60px;
    margin-left: -27px;
    transition: transform .3s;
}

#flappyBirdGame:hover{
    transform:scale(1.1);
}

/* ====FOOTER CSS==== */
footer{
    background-color: rgb(11, 12, 12);
    height: 150px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}

.footer_name{
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 46px;
    margin-left: 35px;
}   

.footer_name a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.data{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
}

.data ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.data ul li{
    list-style: none;
    padding: 1.3px 0;
}

.data ul li a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.data ul li a:hover{
    color: rgb(250, 250, 250);
    font-size: 1.02rem;
    text-decoration: none; 
    border-bottom:2.5px solid red;
}

.handles{
    display: flex;
    justify-content: space-around;
}

.handles a{
    text-decoration: none;
}

#github{
    display: flex;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    margin: 45px 5px;
    color: rgb(250, 250, 250);
    font-size: 2.0rem;
}


#instagram{
    display: flex;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    margin: 45px 5px;
    color: rgb(250, 250, 250);
    font-size: 2.0rem;
}

#whatsapp{
    display: flex;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    margin: 45px 5px;
    color: rgb(250, 250, 250);
    font-size: 2.0rem;
}

#linkedin{
    display: flex;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    margin: 45px 5px;
    color: rgb(250, 250, 250);
    font-size: 2.0rem;
}

.footer-rights{
    display: flex;
    justify-content: space-around;
}